<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moogle</title>
</head>
<style>
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        gap: 5;
    }

    .big-logo {
        color: red;
        font-size: 7rem;
        margin: 3rem;

    }

    .searchinput {
        padding: 0.5rem;
        font-size: larger;
        width: 25%;
    }
    .searchbar {
        display: flex;
        gap: 10px;
    }

</style>
<body>
    <div class="center">
        <h1 class="big-logo">Moogle</h1>
        <form action="/search">
            <div class="searchbar">
                <input class="searchinput" name="query" value=""></input>
                <input type="hidden" name="page" value="1" /> 
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</body>
</html>