<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moogle</title>
  </head>
  <style>
    .webblock {
      border: solid gray 8px;
      padding: 2px;
    }
  </style>
  <body>
    <ul>
      <% websites.forEach(function(data) { %>
      <li class="webblock">
        <a href="<%= data.url %>"><%= data.url %></a>
        <h3><%= data.title %></h3>
        <p><%= data.description %></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
